/CB004273_EJBModule/nbproject/private/
/CB004273_WSModule/nbproject/private/
/CB004273_ClassLibrary/nbproject/private/
/CB004273_ClientApp/nbproject/private/
/CB004273_JEEClientApp/nbproject/private/
/CB004273_EJBModule/build/
/CB004273_ClassLibrary/build/
/CB004273_ClassLibrary/dist/
/CB004273_EJBModule/dist/